div(class="product" id="product-#{product._id}")
  img(src="#{product?.image}")
  p #{product.name} 
  p Price: #{product.price}
  if !products
    div
      div #{product.description}
      if product.userId.firstName || product.userId.lastName
        p Owner: #{product.userId.firstName} #{product.userId.lastName}
  if !path.includes('cart') && isAuthenticated && (authUserIsAdmin || authUser._id.toString() == product.userId._id.toString())
    form(action="/products/"+product._id+"/delete" method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="_method" value="delete")
      button(type="submit" class="btn") Delete