div(class="product" id="product-#{product._id}")
  img(src="#{product?.image}")
  p #{product.name} 
  p Price: #{product.price}
  if !products
    div
      div #{product.description}
  if !path.includes('cart')
    form(action="/products/"+product._id+"/delete" method="post")
      input(type="hidden" name="_method" value="delete")
      button(type="submit" class="btn") Delete