div(class="user" id="user-#{user._id}")
  img(src="#{user?.image}")
  p #{user.firstName} #{user.lastName}
  p #{user.email}
  if !users
    div
      p #{user.age}
      p #{user.phoneNumber}
      div #{user.bio}
  if isAuthenticated
    form(action="/users/"+user._id+"/delete" method="post")
      input(type="hidden" name="_method" value="delete")
      button(type="submit" class="btn") Delete